<div class="header">
    <div class="navigation__header">
        <h1 class="logo">
            {{messages['wallet.logo']}}
        </h1>
        <button class="btn menu__btn border__radius" ng-click="header.showMenu = !header.showMenu">
            <span class="icon-navicon"></span>
        </button>
    </div>
    <ul class="navigation" ng-class="{show:header.showMenu}">
        <li ng-click="navigate('wallet')">{{messages['header.home']}}</li>
        <li ng-click="refresh()">{{messages['header.refresh']}}</li>
        <li ng-click="viewSource()">{{messages['header.source']}}</li>
    </ul>
</div>