.error {
    padding: 10px;
    text-align: center;
    opacity: 1;
}

.error.ng-hide-add.ng-hide-add-active,
.error.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.error.ng-hide {
    opacity: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}